################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.obj
/.vs/nidaqServer/v16/ipch/AutoPCH/b690fc35f5a7eeff/DELETE_SCALAR_SIZE.ipch
/.vs/nidaqServer/v16/ipch/AutoPCH/fe51cb9e9b88b4eb/DELETE_SCALAR_SIZE.ipch
/.vs/nidaqServer/v16/ipch/19495f510e172aca.ipch
/.vs/nidaqServer/v16/ipch/7d4e04788cb8a58a.ipch
/.vs/nidaqServer/v16/Browse.VC.db
/.vs/nidaqServer/v16/Browse.VC.db-shm
/.vs/nidaqServer/v16/Browse.VC.db-wal
/.vs/nidaqServer/v16/Browse.VC.opendb
/.vs/nidaqServer/v16/.suo
/nidaqServer/res/nidaqServer.rc2
/nidaqServer/x64/Debug/nidaqServer.tlog/CL.command.1.tlog
/nidaqServer/x64/Debug/nidaqServer.tlog/CL.read.1.tlog
/nidaqServer/x64/Debug/nidaqServer.tlog/CL.write.1.tlog
/nidaqServer/x64/Debug/nidaqServer.tlog/link.command.1.tlog
/nidaqServer/x64/Debug/nidaqServer.tlog/link.read.1.tlog
/nidaqServer/x64/Debug/nidaqServer.tlog/link.write.1.tlog
/nidaqServer/x64/Debug/nidaqServer.tlog/nidaqServer.lastbuildstate
/nidaqServer/x64/Debug/nidaqServer.tlog/rc.command.1.tlog
/nidaqServer/x64/Debug/nidaqServer.tlog/rc.read.1.tlog
/nidaqServer/x64/Debug/nidaqServer.tlog/rc.write.1.tlog
/nidaqServer/x64/Debug/daqmx.obj.enc
/nidaqServer/x64/Debug/nidaqServer.Build.CppClean.log
/nidaqServer/x64/Debug/nidaqServer.exe.recipe
/nidaqServer/x64/Debug/nidaqServer.ilk
/nidaqServer/x64/Debug/nidaqServer.log
/nidaqServer/x64/Debug/nidaqServer.pch
/nidaqServer/x64/Debug/nidaqServer.res
/nidaqServer/x64/Debug/nidaqServer.vcxproj.FileListAbsolute.txt
/nidaqServer/x64/Debug/RCa05572
/nidaqServer/x64/Debug/RCa08428
/nidaqServer/x64/Debug/RCa09236
/nidaqServer/x64/Debug/RCa14488
/nidaqServer/x64/Debug/vc142.idb
/nidaqServer/x64/Debug/vc142.pdb
/nidaqServer/x64/Release/nidaqServer.tlog/CL.command.1.tlog
/nidaqServer/x64/Release/nidaqServer.tlog/CL.read.1.tlog
/nidaqServer/x64/Release/nidaqServer.tlog/CL.write.1.tlog
/nidaqServer/x64/Release/nidaqServer.tlog/link.command.1.tlog
/nidaqServer/x64/Release/nidaqServer.tlog/link.read.1.tlog
/nidaqServer/x64/Release/nidaqServer.tlog/link.write.1.tlog
/nidaqServer/x64/Release/nidaqServer.tlog/nidaqServer.lastbuildstate
/nidaqServer/x64/Release/nidaqServer.tlog/nidaqServer.write.1u.tlog
/nidaqServer/x64/Release/nidaqServer.tlog
/nidaqServer/x64/Release/nidaqServer.exe.recipe
/nidaqServer/x64/Release/nidaqServer.iobj
/nidaqServer/x64/Release/nidaqServer.ipdb
/nidaqServer/x64/Release/nidaqServer.log
/nidaqServer/x64/Release/nidaqServer.pch
/nidaqServer/x64/Release/nidaqServer.res
/nidaqServer/x64/Release/vc142.pdb
/nidaqServer/nidaqServer.aps
/nidaqServer/nidaqServer.vcxproj.user
/x64/Debug
/x64/Release/nidaqServer.iobj
/x64/Release/nidaqServer.ipdb
/x64/Release/nidaqServer.pdb
